* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #EFE5DC;
    text-align: center;
}

.container {
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game {
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 2vmin;
}

.box {
    height: 18vmin;
    width: 18vmin;
    border-radius: 1.1rem;
    border: none;
    box-shadow: 0 0 1rem #D0B8AC;
    font-size: 8vmin;
    color: #BDA79C;
    background-color: #F5F2EC;
}

#reset,
#newgame {
    padding: 1rem;
    font-size: 1.25rem;
    background-color: #BDA79C;
    color: #FBFEFB;
    border-radius: 1rem;
    border: none;
    margin-top: 1rem;
}

#msg {
    color: #8E7D75;
    font-size: 8vmin;
}

.msgpop {
    height: 100vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 4rem;
}

.hide {
    display: none;
}

h1{
    color: #8E7D75;
    font-size: 3rem;
    font-family: Arial, sans-serif;
}